body {
  margin: 0;
  padding: 0;
  font-family: "popins" sans-serif;
}
.container {
  height: 90vh;
  width: 90%;
  background-image: url(./images/pic2.webp);
  background-size: 960px 600px;
  background-repeat: no-repeat;
  padding: 20px 10px;
  background-position: right;
  margin-left: 8%;
}
nav img {
  height: 150px;
  width: 150px;
  cursor: pointer;
}
nav a {
  text-decoration: none;
  background-color: rgb(37, 205, 160);
  padding: 10px;
  border-radius: 25px;
  color: black;
  margin-left: 80px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.content {
  margin-top: 5%;
}
.content h1 {
  color: mediumblue;
  font-size: 50px;
}
.content h2 {
  margin-top: -25px;
  font-size: 30px;
}
.content p {
  width: 460px;
  font-size: 18px;
  color: darkslategray;
}
.select-color div {
  height: 70px;
  width: 70px;
  margin-top: -10px;
  border: 2px solid black;
}
.select-color {
  display: flex;
  gap: 20px;
  cursor: pointer;
}
.select-color :hover{
    transform: scale(1.03);
}
.select-color #silver {
  background-image: url(./images/pic1.webp);
  background-size: 90px 60px;
  background-repeat: no-repeat;
  background-position: center;
}
.select-color #black {
  background-image: url(./images/pic3.webp);
  background-size: 60px 60px;
  background-repeat: no-repeat;
  background-position: center;
}
.select-color #blue {
  background-image: url(./images/pic2.webp);
  background-size: 80px 60px;
  background-repeat: no-repeat;
  background-position: center;
}
.select-color #cyan {
  background-image: url(./images/pic4.webp);
  background-size: 70px 60px;
  background-repeat: no-repeat;
  background-position: center;
}
.colors {
  display: flex;
  gap: 45px;
  font-weight: 600;
}
.colors :nth-child(1) {
  color: orange;
}
.colors :nth-child(2) {
  color: black;
}
.colors :nth-child(3) {
  color: Blue;
}
.colors :nth-child(4) {
  color: cyan;
}
